appdirs==1.4.3
attrs==19.1.0
black==19.3b0
boto3==1.9.142
botocore==1.12.142
certifi==2019.3.9
Click==7.0
Django==2.2
django-crispy-forms==1.7.2
django-sendgrid-v5==0.8.0
django-storages==1.7.1
django-vote==2.1.7
docutils==0.14
future==0.17.1
jmespath==0.9.4
Pillow==6.0.0
psycopg2==2.8
psycopg2-binary==2.8.2
python-dateutil==2.8.0
python-http-client==3.1.0
pytz==2018.9
s3transfer==0.2.0
sendgrid==6.0.5
sentry-sdk==0.7.14
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
urllib3==1.24.3
