{% extends "board/base.html" %}
{% block content %}
  {% for site in sites %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ site.poster.profile.image.url }}" />
      <div class="media-body">
        <div class="article-metadata">

          {# <a class="mr-2" href="{% url 'public-profile' pk=site.poster.profile.id %}">{{ site.poster }}</a> #}

          <small class="text-muted">{{ site.date_posted | date:"M d, Y" }}</small>
        </div>
        <h2>
          <a class="article-title" href="{% url 'site-detail' pk=site.id %}">{{ site.name }}</a>
        </h2>
        <a class="article-title" href="{{ site.link }}">{{ site.link }}</a>
        <p>{{ site.upvotes }}</p>
      </div>
    </article>
  {% endfor %}

  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info" href="?page=1">first</a>
      <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number}}">prev</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
      <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">next</a>
      <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}
  {% endif %}
{% endblock content%}
