{% extends "board/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class='form-group'>
        <legend class="mb-4 border-bottom">Register</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-dark" type="submit">Register</button>
      </div>
    </form>
    <div class="border-top">
      <p class="text-muted">
        Already have an account?
        <a href="#">sign in here</a>
      </p>
    </div>
  </div>
{% endblock content%}
